.headsection {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.heading {
  margin-left: 20px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  text-decoration: none;
  margin: 0 20px;
}
